  <nav class="bg-white shadow-md py-4 px-6 flex justify-between items-center fixed top-0 left-0 w-full z-50">
    <div class="text-2xl font-bold text-pink-600"><a href="{% url 'feed' %}">SkillSwipe</a></div>
    <div class="space-x-6 text-sm font-medium text-gray-700">
      <a href="{% url 'viewProfile' %}" class="hover:text-pink-500">Profile</a>
      <a href="#" class="hover:text-pink-500">Notifications</a>
      <a href="{% url 'viewProject' %}" class="hover:text-pink-500">Projects</a>
      <a href="{% url 'matchPage' %}" class="hover:text-pink-500">My Team</a>
    </div>
  </nav>
